@page
@model Ticket_App.Pages.ThankYouModel
@{
    ViewData["Title"] = "Mulțumim";
}

<div class="text-center">
    <br />
    <img src="Pictures/banner.png" width="1140" height="360" />
    <br />
    <br />
    <p style="font-size:55px"> Mulțumim pentru cererea creată. <br /> Vom încerca să rezolvăm cerera in cel mai scurt timp posibil. </p>
    <br />

</div>